{% extends 'base_generic.html' %}

{% load static %}


{% block content1 %}
      <div class="messages"  style="width:80%; margin-left:100px;text-align:center; ">
        {% if messages %}
            <ul class="message" style=" color:white; list-style-type:none; padding:20px;">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{message.tags}}" {% endif %}>
                        <div class="alert alert-success" role="alert">
                        {{message}}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <div class="jumbotron" style="width:100%; padding:40px;">
        <a class="btn btn-primary btn-lg" style="margin-left:305px;" href="{% url 'blog:create_post'%}" role="button"> Add New Post </a>
    </div>

    {% for post in all_post %}
        <div class="col-md-4" style="float:left;">
            <div class="card" style="margin-bottom:20px;">
                {% if post.img %}
                  <img src="{{post.img.url}}" class="card-img-top" alt="..." >
                {% endif %}
                  <div class="card-body">
                    <h5 class="card-title" > {{post}} </h5>
                    <p class="card-text"> {{post.content|safe|truncatewords:40}} </p>
                    <a href="{% url 'blog:post' post.id %}" class="btn btn-primary"> Know More </a>
                  </div>
            </div>
        </div>
   {% endfor %}


<!-- Pagination -->
                {% if all_post.has_other_pages %}
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="pagination_wrap">
                                    <ul>
                                     {% if all_post.has_previous %}
                                        <li><a href="?page={{all_post.previous_page_number}}"> <i class="ti-angle-left"></i> </a></li>
                                     {% endif %}

                                      {% for i in all_post.paginator.page_range %}
                                        <li><a href="?page={{i}}"><span>{{i}}</span></a></li>
                                      {% endfor %}

                                         {% if all_post.has_next %}
                                                <li><a href="?page={{all_post.next_page_number}}"> <i class="ti-angle-right"></i> </a></li>
                                         {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                   {% endif %}
<!-- End Pagination -->

{% endblock %}